Port 22
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
SyslogFacility AUTHPRIV
LogLevel VERBOSE
PermitRootLogin prohibit-password
MaxAuthTries 2
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys
PermitEmptyPasswords no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
AllowAgentForwarding no
AllowTcpForwarding yes
X11Forwarding no
TCPKeepAlive yes
Compression no
ClientAliveCountMax 2
UseDNS no
PermitTunnel yes
Banner /etc/issue.net
PrintMotd no
Subsystem	sftp	/usr/lib/openssh/sftp-server
